@model Proje5.Models.Kitaplar

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Kitaplar</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Kitapno)

<div class="form-group">
    @Html.LabelFor(model => model.Kadi, "Adı:", htmlAttributes: new { @class = "control-label col-md-1" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Kadi, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Kadi, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Kyazar, "Yazarı:", htmlAttributes: new { @class = "control-label col-md-1" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Kyazar, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Kyazar, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Ketiketleri, "Etiketi:", htmlAttributes: new { @class = "control-label col-md-1" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.Ketiketleri,
     new List<SelectListItem>
{
new SelectListItem { Value = "Macera" , Text =" Macera" },
new SelectListItem { Value = "Romantik" , Text = "Romantik" },
new SelectListItem { Value = "Savaş" , Text = "Savaş" }
},
new { @class = "Ketiketleri" })
        @Html.ValidationMessageFor(model => model.Ketiketleri, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Kdurum, "Kitabın durumu:", htmlAttributes: new { @class = "control-label col-md-1" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Kdurum, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Kdurum, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Kkayitli, "Kayıtlı Kullanıcı:", htmlAttributes: new { @class = "control-label col-md-1" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Kkayitli, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Kkayitli, "", new { @class = "text-danger" })
    </div>
</div>
    @Html.Raw(TempData["msg"])
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

